<header class="app-header">
  <div class="app-header__inner">
    <div class="brand">
      <div class="brand__logo">🐾</div>
      <div class="brand__text">
        <div class="brand__title">Cat Sweeper</div>
        <div class="brand__subtitle">Movement Minesweeper</div>
      </div>
    </div>

    <nav class="nav">
      <a class="nav__link" href="/">Home</a>
      <a class="nav__link" href="/leaderboard">Leaderboard</a>
    </nav>
  </div>
</header>

